DB_URL=jdbc:postgresql://localhost:5432/devis_db
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=d3dfbb9e411c7cea392714b4b6c4d8e390feb09c454e4e15864dcd170733a6e5
JWT_EXPIRATION=3600000
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your-mailtrap-username
MAIL_PASSWORD=your-mailtrap-password
FRONTEND_URL=http://localhost